[client]
default-character-set=utf8mb4
[mysql]
default-character-set=utf8mb4
[mysqld] 
character-set-server = utf8mb4  
collation-server = utf8mb4_unicode_ci  
init_connect='SET NAMES utf8mb4'  
skip-character-set-client-handshake = true  
max_connections=2000
bind-address=0.0.0.0
symbolic-links=0
max_connections = 1500
log-bin=mysql-bin # 开启 binlog
binlog-format=ROW # 选择 ROW 模式
server_id=1 # 配置 MySQL replaction 需要定义，不要和 canal 的 slaveId 重复